<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="SqlDbConnStr" connectionString="Data Source=TMBM07\SQL2008R2;Initial Catalog=HPAGBC;Persist Security Info=True;User ID=BPM;Password=BPM" providerName="System.Data.SqlClient" />-->
    <add name="SqlDbConnStr" connectionString="Data Source=192.168.1.94;Initial Catalog=HPAGBC;Persist Security Info=True;User ID=sa;Password=abcdef@123456" providerName="System.Data.SqlClient" />
    <add name="SqlDbConnStrFC" connectionString="Data Source=192.168.1.94;Initial Catalog=HPAGFC;Persist Security Info=True;User ID=sa;Password=abcdef@123456" providerName="System.Data.SqlClient" />
   

  </connectionStrings>

  <appSettings>
    <!--頁面抬頭設定-->
    <!--啟動 SQL.txt 歷程記錄(begin)-->
    <add key="SQLLogFile" value="~/SQL.txt" />
    <add key="SQLTxtFile" value="~/SQL.txt" />
  </appSettings>









  <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
