body {
	font-size:10pt;
	margin:0;
}
#wrap{
	width:600px;
	margin:0 auto;
}
.members{
	/*height:300px;
	overflow-y:scroll;
*/
}
.members label.selected{
	background:#FFDAAE;
}
.actarea{
	text-align:center;
}
.actarea input{
	background:#5D7B9D;
	color:#FFF;
	height:30px;	
}